{% extends 'layout.html' %}



{% block all %}

<div class = "jumbotron text-center">
    <h3>COMMUNİCATİON
        <hr>
        
    </h3>
    
</div>


{% endblock  %}

{% block communication %}
<div class = "jumbotron text-center">
    <h4>MAİL : </h4> 
    <a href="mailto: ordu.2000@hotmail.com">Mail adresim : ordu.2000@hotmail.com</a>
    
    <hr>  
    <h4>INSTAGRAM : </h4>
    <a href="https://www.instagram.com/uzeyirogur/">Instagram adresim : uzeyirogur</a>
    <hr>
    <h4>GITHUB : </h4>
    <a href="https://github.com/uzeyirogur">Github adresim : https://github.com/uzeyirogur</a>
{% endblock  %}
