{% extends 'layout.html' %}

{% block all %}

<div class = "jumbotron text-center">
    <h3>OKUL HAYATIM
        <hr>
        
    </h3>

</div>

<div class = "jumbotron text-center">

    <p>Okul hayatım boyunca aşırı çalışkan birisi olamadığım doğrudur.Ortaokul ve lise hayatımı genelde yurtlarda geçirdim.8 sene kadarıyla kalmışlığım var.
       İlkokul ve ortaokulu İstiklal Okulunda Ümraniye de okudum.Başarılı bir ortaokul ilkokulum oldu diyebilirim.Her sınıfı takdirle geçtim bu başarımda 
       yurttaki eğitimlerinde olduğunu söylemeden geçemem tabiki.Ardından sınava girdim evet her sene bize vuran değişen sınav sisteminde sınava girdim ve 
       şuan adını bile unuttum o kadar değişti ki sanırsam Teog'du.Hemen hemen güzel puan aldım ve Çekmeköy Güç Kardeşler Anadolu Lisesine yerleştim.Buraya 
       geldiğimde de yurda başladım eski yurdumdan yusuf mehmet ve birkaç kişi daha aynı yurttaydık bu güzeldi.Sonra Ataşehir Anadoluya geçme kararı aldık ve
       Yusuf'la beraber Ataşehir Anadoluya geçtik ve son sene Temel lisesine geçtim keşke geçmeseydim hiç faydası olmadı tabi biraz da benden kaynaklı.Bunun öncesinde
       eski sevgilim tm seçti diye bende seçtim ve eşit ağırlık üzerinden hazırlandım ve o sene leş bir puan alarak İstanbul Üniversitesi İşletme Bölümüne yerleştim.
       Kayıtımı her şeyimi yaptırdım ve o sıra dedim ki cidden işleme mi okuyacağım.Evet biliyorum diyorsunuz bu cümleyi biraz geç kurmamışmıyım.Geç oldu ama vazgeçtim
       tekrardan hazırlanmaya ve sayısaldan girmeye karar verdim imkansızın imkansızına yolculuğum başladı böylece.Mahallemizde olan çok resmi olmayan aile ortamı tarzı bir
       dershaneye yazıldım.Adı Üçgen Eğitim Kurumları.Herkes diyordu çok zor yapma senen gidicek ama hırs yaptım ve o sene sınava girdim.Sonuçlar açıklandığında fındık tarlasındaydım
       evet bizim her sene gelmesin diye beklediğimiz fındık tarlası ağustos aylarının en iğrenç günleri herkes deniz storyleri atarken biz fındık tarlasındaydık ama çok toplamazdım
       genelde kaytarmaya bakardım.Neyse konumuza dönelim Erzurum Atatürk Üniversitesi yazıyordu sonuçlarda asla beklemiyordum ve içimden başladım aha sıçtık ben napıcam burada demeye.
    </p>
       <hr>
</div>
<div class = "jumbotron text-center">
    <h3>MY SCHOOL LİFE
        <hr>
        
    </h3>
   
</div>
<div class = "jumbotron text-center">  
    <p>It is true that I have not been an overly hardworking person during my school life.I spent my middle school and high school life mostly in dormitories.i have stayed for about 8 years.
        I attended elementary and secondary school at Istiklal School in Umraniye.I can say that I had a successful middle school elementary school.I passed every class with appreciation in this achievement
        of course, I can't help saying that it happened during their education at the dormitory.Then I took the exam yes, I took the exam in the changing exam system that hits us every year and
        I've even forgotten his name now, he's changed so much that I think he was Teog.I got good scores almost immediately and settled in Çekmeköy Güç Brothers Anatolian High School.Here
        when I arrived, I also started the dormitory, Yusuf mehmet from my old dormitory and a few other people were in the same dormitory, which was nice.Then we decided to move to Ataşehir Anatolia and
        Yusuf and I moved to Ataşehir Anatolia together, and I went to Basic high school last year, it didn't help if I hadn't passed, of course, it's a little bit caused by me.Before that
        i chose it because my ex-lover chose tm, and I was prepared over equal weight, and that year I got a lousy score and settled in the Business Department of Istanbul University.
        I had my registration done everything, and at that time I said, am I really going to study processing?Yes, I know, you say, haven't I made this sentence a little late.It's late, but I gave up
        I decided to get ready again and enter from digital, so my journey to the impossible of the impossible began.There is a very informal family atmosphere style that happens in our neighborhood
        i was enrolled in the classroom.Its name is Triangle Educational Institutions.Everyone was saying don't make it too hard, your year will go away, but I had ambition and took the exam that year.I was in the hazelnut field when the results were announced
        yes, the hazelnut field that we wait for him to come every year the most disgusting days of August, when everyone was throwing sea stories, we were in the hazelnut field, but I wouldn't collect much
        i usually looked at slacking off.Anyway, let's get back to our topic, Erzurum Ataturk University was writing, I never expected the results, and I started from the inside, yes, we screwed up, I'm going to say here.
    </p>
</div>
{% endblock  %}